#buylist
  h1 Cart カート
  .buy_item.control_panel
    label 商品名
    input#input_name(placeholder="入力...")
    label 価格(税込)
    input#input_price(placeholder="123...")
    span.addbtn +追加
  #items_list
   //- li.buy_item 1.ジッピーコインケース
   //-   .price 8,000(税込)
   //-   .del_btn ✗
   //- li.buy_item 2.Tシャツ
   //-   .price 2,000(税込)
   //-   .del_btn ✗
   //- li.buy_item 3.ショルダーバッグ
   //-   .price 9,000(税込)
   //-   .del_btn ✗
   //- li.buy_item.total 合計
   //-   .price 6,000(税込)